.footer-top,
.footer-bottom {
  background: var(--clr-blue);
  font-size: 14px;
  width: 100%;
  border: 2px solid yellow;
}

.footer-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 10px;
  padding: 40px;
}

footer p {
  color: var(--clr-light-yellow);
  text-decoration: capitalize;
}

footer h3 {
  color: var(--clr-light-yellow);
  letter-spacing: 1px;
  margin: 20px 0;
  font-size: 18px;
}

footer ul li {
  margin: 16px 0;
  color: var(--clr-light-yellow);
}

.footer-col-2 {
  text-align: center;
}

footer p,
footer a {
  color: var(--clr-light-yellow);
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 1px;
}

.footer-col-2 img {
  width: 120px;
}

.footer-col-3,
.footer-col-4 {
  text-align: center;
}

.footer-col-1 input[type='text'] {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0 10px 0 10px;
  background: var(--clr-blue);
  color: var(--clr-light-yellow);
  letter-spacing: 1px;
  font-size: 10px;
}

.footer-form input {
  font-weight: 700;
  outline: 0;
  border: 1px solid var(--clr-yellow);
}
.footer-form {
  display: flex;
  justify-content: center;
}

.developer {
  color: var(--clr-light-yellow);
  margin-left: 5px;
}

.footer-form button {
  margin: auto;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  font-size: 18px;
  color: var(--clr-blue);
  background-color: var(--clr-yellow);
  border: none;
  outline: none;
}

.footer-bottom {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  bottom: 0;
  border-top: 1px solid var(--clr-light-grey);
  padding: 18px 40px;
}

.footer-col-4 li {
  margin-bottom: 10px;
}

.copyright {
  margin: 0;
  text-align: center;
}

.copyright a {
  color: #8aabca;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.social-icons > li {
  margin: 0 20px;
}

.social-icons > li > a {
  font-size: 16px;
  color: var(--clr-light-yellow);
}

.social-icons > li > a:hover {
  transition: var(--transition);
  color: var(--clr-yellow);
}

@media screen and (min-width: 800px) {
  .footer-col-1 input[type='text'] {
    font-size: 10px;
    color: var(--clr-light-yellow);
    letter-spacing: 2px;
    font-size: 10px;
  }
  .footer-col-2 {
    margin-left: 30px;
    margin-top: 0;
  }

  .footer-bottom {
    flex-direction: row;
    justify-content: space-between;
  }

  .social-icons {
    margin-top: 0;
  }
}
