.single__product {
  margin-top: 5rem;
}
.single__product h1 {
  margin: 30px 10px;
  color: var(--clr-blue);
  font-size: 20px;
}

.single__product h4 {
  color: var(--clr-blue);
}
.single__product .col-2 img {
  padding: 0;
  width: 400px;
}

.single__product p {
  font-size: 14px;
  color: var(--clr-blue);
}

.single__product .rating {
  font-size: 18px;
}
.single__product select {
  width: 100%;
}

.single__product h4 {
  font-size: 20px;
  font-weight: bold;
}

.fields-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ralated-product-title {
  margin: 60px 0;
  flex-wrap: wrap;
}

.ralated-product-title p {
  font-size: 30px;
}

.ralated-product-title h1,
h4 {
  color: var(--clr-blue);
}

.fields-container .quantity {
  width: 50px;
  height: 30px;
  font-size: 16px;
  margin-left: 10px;
  border: 1px solid #ffd741;
  background: transparent;
}

.single__product h3 i {
  color: #ffd741;
}

.small__img__row {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.small__img__col {
  flex-basis: 24%;
  cursor: pointer;
}

.product-description {
  text-align: center;
}

.quantity {
  width: 10px;
}

.product-description h1 {
  margin: 20px 10px;
  color: var(--clr-blue);
}

.more-products img {
  width: 120px;
}

.more-products h4 {
  font-size: 16px;
  color: var(--clr-blue);
  margin-top: 20px;
}

.more-products p {
  color: var(--clr-blue);
}

@media only screen and (min-width: 800px) {
  .single__product .row {
    text-align: left;
  }

  .single__product .col-2 {
    padding: 20px 0;
  }

  .single__product h1 {
    font-size: 24px;
  }

  .single__product h1,
  .ralated-product-title h1 {
    font-size: 30px;
  }

  .single__product select {
    width: 50%;
  }
}
