/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: var(--clr-red);
}

/* Form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}

.form label {
  margin: 1rem 0;
}
/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}

:root {
  --clr-yellow: #ffd741;
  --clr-light-yellow: #fff8de;
  --clr-blue: #24324a;
  --clr-light-blue: #f4f4f4;
  --clr-white: #fffcf2;
  --clr-red: hsl(360, 71%, 66%);
  --clr-green: hsl(125, 71%, 66%);
  --clr-light-grey: #c0baa4;
  --clr-dark-grey: #555;
  --clr-hover: #f2bf00;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 90%;
  --fixed-width: 620px;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: var(--clr-white);
  font-size: 16px;
}

img {
  max-width: 100%;
  display: block;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.sidebar-wrapper.show {
  visibility: visible;
  z-index: 2;
  transform: scale(1);
}

.submenu.show {
  display: block;
}

p {
  color: var(--clr-grey);
}
.alert {
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
p,
li {
  font-size: 0.8em;
  letter-spacing: var(--spacing);
}
@media (min-width: 800px) {
  p,
  li {
    font-size: 0.825em;
    letter-spacing: var(--spacing);
  }
}
.alert-danger {
  color: var(--clr-red);
  background-color: #ffe0e0;
}
.alert-success {
  color: var(--clr-green);
  background-color: #eeffe0;
}

.btn {
  display: inline-block;
  background: var(--clr-yellow);
  color: var(--clr-blue);
  padding: 0.5em 1.2em;
  margin: 2em 0;
  border-radius: 1.8rem;
  transition: var(--transition);
  cursor: pointer;
  outline: none;
  border: none;
}

button {
  border-radius: 0.25em;
}

.btn:hover,
.btn:focus {
  background: var(--clr-hover);
}

.title {
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height: 60px;
  color: var(--clr-dark-grey);
}

.title::after {
  content: '';
  background: var(--clr-yellow);
  height: 5px;
  width: 100px;
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.form > div {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

input,
select {
  height: 2.5em;
  border: 1px solid var(--clr-light-grey);
  padding: 0 0 0 0.6em;
  background: none;
  width: 100%;
  border-radius: 0.25em;
  letter-spacing: var(--spacing);
  outline: none;
}

.section-center {
  max-width: var(--max-width);
  margin: 0 auto;
}

textarea {
  width: 100%;
  background: none;
  height: 10em;
  border: 1px solid var(--clr-light-grey);
  letter-spacing: var(--spacing);
  border-radius: 0.25em;
  outline: none;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75em;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h3 {
  font-size: 1.5rem;
}
h4 {
  font-size: 1.25rem;
}
h5 {
  font-size: 0.875rem;
}

th {
  background: var(--clr-blue);
  color: var(--clr-white);
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.8rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.ben {
  background: #060500 #1a1400 #2d2400 #413300 #554300 #685200 #7c6200 #8f7100
    #a38100 #b79000 #caa000 #deaf00 #f2bf00 Shade Color Variation #ffcb06
    #c0baa4 #fff8de;
}
